<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antidote_mobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AntidoteMobile"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AntidoteMobile">
        <activity android:name=".ThirdActivity"/>
        <activity android:name=".SecondActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="Antidote Mobile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AntidoteMobile.NoActionBar" />
        <activity
            android:name=".InfoPageActivity"
            android:label="@string/infopage_name" />
        <activity
            android:name=".LobbyActivity"
            android:label="Game Lobby" />
        <activity
            android:name=".GameActivity"
            android:label="Game Screen" />
        <activity
            android:name=".ProfilePageActivity"
            android:label="Profile Page" />
        <activity
            android:name=".SignUpActivity"
            android:label="Sign Up Page" />
        <activity
            android:name=".StatsActivity"
            android:label="Stats Page" />
        <activity
            android:name=".ChatActivity"
            android:label="Chat" />
    </application>

</manifest>